* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #202023;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Right part of the header */
.header-profile {
  color: white;
  display: flex;
  justify-content: space-around;
}

.header-profile-name,
.header-profile-works,
.header-profile-posts,
.header-profile-source {
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 1rem;
}

.container {
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
}

.intro > p {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  background-color: rgb(49, 49, 52);
  border-radius: 0.5rem;
  color: wheat;
}

.intro-img {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.intro-img-profile {
	margin-top: auto;
	margin-bottom: 3rem;
}


.body-content > h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid wheat;
  color: white;
}

.body-content > ul > p,
.body-content > p,
.body-content > ul > a,
.body-content {
  font-size: 1.2rem;
  color: white;
}

#body-content-resume {
  text-align: justify;
}

.body-content-web > p {
  display: flex;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px groove white;
}

footer {
  color: white;
  text-align: center;
  margin-top: 3rem;
}

a {
	color: white;
	text-decoration: none;
}

.text-link {
  text-decoration: none;
  color: white;
}

/* Card component */

.title-works {
	padding-left: 22%;
	padding-right: 22%;
	margin-top: 3rem;
	color: white;
}


.container-works {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 2%;
	padding-left: 15%;
	padding-right: 15%;
}

.container-works > h1 {
	color: white;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 1rem;
  height: 15rem;
  width: 20rem;
  background-color: rgba(49, 49, 52, 0.3);
}

.card-img {
  width: inherit;
  height: 60%;
}

.card-title {
  width: inherit;
  height: 10%;
  border-bottom: 1px solid wheat;
  color: white;
  text-align: center;
}

.card-description {
  width: inherit;
  height: 30%;
  color: white;
}

.card-stack {
  width: inherit;
  height: 15%;
  color: white;
  text-align: center;
  border-top: 1px solid wheat;
}
